<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Eventbrite</h1>
    <p>Participate to the best events of your city</p><br />
    <%=link_to "New event", new_event_path, type:"button", class: "btn btn-outline-primary" %>
  </div>
</div>

<div class="container container-event">
 
  <% Event.order("start_date ASC").all.each do |event| %>
    <h3><%= link_to "#{event.title}", event_path(event) %></h3>
    <p>> <%= event.location %></p><br />
    <p><%= event.start_date.strftime("%d/%m/%Y %H:%M") %></p><br/>
  <%end%>
</div>

