<div class="container-fluid text-center">
  <div class="texte-bienvenue">
    <h2>Son blaz : <%= @current_user.first_name %> <%= @current_user.last_name %></h2>

    <p>Contactez cette comère : <%= @current_user.email %></p><br />

  </div>
</div>